.version.index /* version checker */
{
	color: #000003;
	background-color: #E3AFD0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1999.9999999999836px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 70px;
	width: 0.01px;
}

#u370
{
	z-index: 286;
	height: 70px;
	background-color: #CC0000;
	position: fixed;
	top: 0px;
}

#u370-bw
{
	z-index: 286;
}

#menuu371
{
	z-index: 287;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 10px;
}

#u379
{
	width: 138px;
	min-height: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u380
{
	width: 138px;
	background-color: transparent;
	padding-bottom: 48px;
	position: relative;
}

#u380:hover
{
	background-color: #999999;
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u380:active
{
	background-color: #6B6B6B;
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u380.MuseMenuActive
{
	background-color: #999999;
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u383-4
{
	width: 109px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 14px;
}

#u380:hover #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u380:active #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u380.MuseMenuActive #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u386
{
	width: 145px;
	min-height: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u387
{
	width: 145px;
	background-color: transparent;
	padding-bottom: 48px;
	position: relative;
}

#u387:hover
{
	background-color: #999999;
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u387:active
{
	background-color: #6B6B6B;
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u389-4
{
	width: 117px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 14px;
}

#u387:hover #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u387:active #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u372
{
	width: 145px;
	min-height: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u373
{
	width: 145px;
	background-color: transparent;
	padding-bottom: 48px;
	position: relative;
}

#u387.MuseMenuActive,#u373:hover
{
	background-color: #999999;
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u373:active
{
	background-color: #6B6B6B;
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u373.MuseMenuActive
{
	background-color: #999999;
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u374-4
{
	width: 117px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 14px;
}

#u387.MuseMenuActive #u389-4,#u373:hover #u374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u373:active #u374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u373.MuseMenuActive #u374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u1032
{
	width: 166px;
	min-height: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 434px;
}

#u1033
{
	width: 166px;
	background-color: transparent;
	padding-bottom: 48px;
	position: relative;
}

#u1033:hover
{
	background-color: #999999;
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u1033:active
{
	background-color: #6B6B6B;
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u1033.MuseMenuActive
{
	background-color: #999999;
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u1035-4
{
	width: 138px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 14px;
}

#u1033:hover #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u1033:active #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u1033.MuseMenuActive #u1035-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u368
{
	z-index: 312;
	width: 319px;
	background-color: transparent;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: -640px;
}

#home
{
	position: relative;
}

#u365-4
{
	z-index: 6;
	width: 1278px;
	min-height: 86px;
	background-color: transparent;
	line-height: 84px;
	margin-left: 1px;
	margin-top: 32px;
	position: relative;
}

#u440
{
	z-index: 10;
	height: 768px;
	background-color: #CC0000;
}

#u440-bw
{
	z-index: 10;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 768px;
}

#u421-5
{
	z-index: 11;
	width: 1278px;
	min-height: 152px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 84px;
	position: fixed;
	top: 941px;
	left: 0px;
}

#u414
{
	z-index: 16;
	width: 1482px;
	background-color: transparent;
	position: fixed;
	top: 1536px;
	left: -102px;
}

#u414_clip
{
	overflow: hidden;
	width: 1482px;
	height: 768px;
}

#u414_img
{
	margin-top: -34px;
	margin-bottom: -6px;
}

#u366-4
{
	z-index: 18;
	min-height: 95px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 84px;
}

#u366-4-bw
{
	z-index: 18;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 1772px;
}

#stand_mixers
{
	margin-top: 2198px;
	position: relative;
}

#u846
{
	z-index: 116;
	width: 1279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 2485px;
	left: 0px;
}

#u481
{
	z-index: 127;
	width: 805px;
	background-color: transparent;
	margin-left: 238px;
	position: relative;
}

#pu483
{
	width: 0.01px;
	margin-top: 16px;
}

#u483
{
	z-index: 129;
	width: 405px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 438px;
}

#u486-4
{
	z-index: 131;
	width: 1278px;
	min-height: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu205
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 18px;
}

#u205
{
	z-index: 117;
	width: 788px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 245px;
}

#u845-6
{
	z-index: 135;
	width: 1278px;
	min-height: 360px;
	background-color: transparent;
	line-height: 84px;
	position: relative;
	margin-right: -10000px;
}

#u214-8
{
	z-index: 119;
	width: 1278px;
	min-height: 174px;
	background-color: transparent;
	line-height: 84px;
	margin-left: 1px;
	position: relative;
}

#u495
{
	z-index: 4;
	height: 768px;
	background-color: #CC0000;
}

#u495-bw
{
	z-index: 4;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 4608px;
}

#u485-8
{
	z-index: 48;
	width: 1276px;
	min-height: 434px;
	background-color: transparent;
	color: #FFFFFF;
	position: fixed;
	top: 4781px;
	left: 2px;
}

#u497
{
	z-index: 5;
	height: 375px;
	background-color: #A9AAAC;
}

#u497-bw
{
	z-index: 5;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 5376px;
}

#color_palettes
{
	margin-top: 2954px;
	position: relative;
}

#u462-6
{
	z-index: 36;
	width: 1278px;
	min-height: 245px;
	background-color: transparent;
	position: fixed;
	top: 5441px;
	left: 0px;
}

#slideshowu217
{
	z-index: 22;
	width: 0.01px;
	height: 701px;
	margin-top: 424px;
	position: relative;
}

#u220popup
{
	z-index: 23;
}

#u327
{
	z-index: 24;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u327_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u336
{
	z-index: 26;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u336_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u218-4popup
{
	z-index: 28;
}

#u229-4popup
{
	z-index: 32;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u461-6
{
	z-index: 42;
	width: 520px;
	min-height: 463px;
	background-color: transparent;
	margin-left: 758px;
	top: -600px;
	margin-bottom: -464px;
	position: relative;
}

#slideshowu577
{
	z-index: 56;
	width: 0.01px;
	height: 701px;
	margin-top: 72px;
	position: relative;
}

#u610popup
{
	z-index: 57;
}

#u617
{
	z-index: 58;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u613
{
	z-index: 60;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u627-4popup
{
	z-index: 62;
}

#u583-4popup
{
	z-index: 66;
}

#u463-6
{
	z-index: 70;
	width: 520px;
	min-height: 550px;
	background-color: transparent;
	margin-left: 758px;
	top: -701px;
	margin-bottom: -624px;
	position: relative;
}

#slideshowu711
{
	z-index: 76;
	width: 0.01px;
	height: 701px;
	margin-top: 60px;
	position: relative;
}

#u712popup
{
	z-index: 77;
}

#u727
{
	z-index: 78;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u727_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u717
{
	z-index: 80;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u613_img,#u717_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u729-4popup
{
	z-index: 82;
}

#u751-4popup
{
	z-index: 86;
}

#u464-6
{
	z-index: 90;
	width: 520px;
	min-height: 388px;
	background-color: transparent;
	margin-left: 758px;
	top: -578px;
	margin-bottom: -388px;
	position: relative;
}

#slideshowu778
{
	z-index: 96;
	width: 0.01px;
	height: 701px;
	margin-top: 60px;
	position: relative;
}

#u220,#u610,#u712,#u812
{
	position: absolute;
	width: 715px;
	height: 701px;
	background-color: transparent;
}

#u812popup
{
	z-index: 97;
}

#u813
{
	z-index: 98;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u813_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u823
{
	z-index: 100;
	width: 715px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u327_clip,#u336_clip,#u613_clip,#u727_clip,#u717_clip,#u813_clip,#u823_clip
{
	overflow: hidden;
	width: 715px;
	height: 701px;
}

#u823_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u218-4,#u627-4,#u729-4,#u780-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 319px;
}

#u780-4popup
{
	z-index: 102;
}

#u218,#u627,#u729,#u780
{
	color: #999999;
}

#u229-4,#u583-4,#u751-4,#u809-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 319px;
	left: 681px;
}

#u809-4popup
{
	z-index: 106;
}

#u465-6
{
	z-index: 110;
	width: 520px;
	min-height: 464px;
	background-color: transparent;
	margin-left: 758px;
	top: -609px;
	margin-bottom: -464px;
	position: relative;
}

#u461-2,#u463-2,#u464-2,#u465-2
{
	line-height: 84px;
}

#power_couple
{
	margin-top: 65px;
	position: relative;
}

#u885
{
	z-index: 141;
	width: 1280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8919px;
	left: 0px;
}

#u851-4
{
	z-index: 142;
	width: 1278px;
	min-height: 130px;
	background-color: transparent;
	position: relative;
}

#u868
{
	z-index: 146;
	width: 1280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u855
{
	z-index: 147;
	width: 522px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
}

#u861
{
	z-index: 149;
	width: 522px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 758px;
}

#paccordionu872
{
	width: 0.01px;
	margin-top: 861px;
}

#accordionu872wrapper
{
	min-height: 654px;
	z-index: 197;
	margin-bottom: -534px;
	position: relative;
	margin-right: -10000px;
}

#accordionu872
{
	z-index: 197;
	width: 630px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u881
{
	z-index: 198;
	width: 630px;
	background-color: transparent;
	position: relative;
}

#u884-4
{
	z-index: 199;
	width: 618px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A9AAAC;
	position: relative;
}

#u884-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u884-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u884-4:hover p,#u884-4:hover h5,#u884-4:active p,#u884-4:active h5
{
	color: #000000;
	visibility: inherit;
}

#u882
{
	z-index: 203;
	width: 628px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 29px;
	position: relative;
}

#u883-4
{
	z-index: 204;
	width: 610px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u873
{
	z-index: 208;
	width: 630px;
	background-color: transparent;
	position: relative;
}

#u874-4
{
	z-index: 209;
	width: 618px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A9AAAC;
	position: relative;
}

#u874-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u874-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u874-4:hover p,#u874-4:hover h5,#u874-4:active p,#u874-4:active h5
{
	color: #000000;
	visibility: inherit;
}

#u875
{
	z-index: 213;
	width: 628px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 39px;
	position: relative;
}

#u876-24
{
	z-index: 214;
	width: 610px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#accordionu886wrapper
{
	min-height: 790px;
	z-index: 151;
	margin-bottom: -670px;
	position: relative;
	margin-right: -10000px;
	left: 650px;
}

#accordionu886
{
	z-index: 151;
	width: 630px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u891
{
	z-index: 152;
	width: 630px;
	background-color: transparent;
	position: relative;
}

#u894-4
{
	z-index: 153;
	width: 618px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A9AAAC;
	position: relative;
}

#u894-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u894-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u892
{
	z-index: 157;
	width: 628px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 29px;
	position: relative;
}

#u893-6
{
	z-index: 158;
	width: 610px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u887
{
	z-index: 164;
	width: 630px;
	background-color: transparent;
	position: relative;
}

#u888-4
{
	z-index: 165;
	width: 618px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A9AAAC;
	position: relative;
}

#u888-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u888-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u884-4.AccordionPanelTabOpen,#u874-4.AccordionPanelTabOpen,#u894-4.AccordionPanelTabOpen,#u888-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 38px;
	width: 618px;
	margin: 0px;
}

#u884-4.AccordionPanelTabOpen p,#u884-4.AccordionPanelTabOpen h5,#u874-4.AccordionPanelTabOpen p,#u874-4.AccordionPanelTabOpen h5,#u894-4.AccordionPanelTabOpen p,#u894-4.AccordionPanelTabOpen h5,#u888-4.AccordionPanelTabOpen p,#u888-4.AccordionPanelTabOpen h5
{
	color: #CC0000;
	visibility: inherit;
}

#u889
{
	z-index: 169;
	width: 628px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 61px;
	position: relative;
}

#u890-27
{
	z-index: 170;
	width: 610px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1003
{
	z-index: 2;
	min-height: 857.8769474685878px;
	background-color: #CC0000;
	padding-bottom: 0px;
}

#u1003_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
	padding-top: 72px;
	padding-bottom: 24px;
}

#unique_features
{
	left: 100px;
	position: relative;
}

#u897-4
{
	z-index: 238;
	width: 1278px;
	min-height: 154px;
	background-color: transparent;
	color: #FFFFFF;
	left: 100px;
	margin-top: 42px;
	position: relative;
}

#tab-panelu898
{
	z-index: 242;
	width: 1279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	left: 100px;
	margin-top: 40px;
	position: relative;
}

#u912
{
	z-index: 243;
	width: 1277px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u913
{
	z-index: 244;
	width: 425px;
	min-height: 38px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u913:hover
{
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 425px;
	min-height: 38px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u914-4
{
	z-index: 245;
	width: 425px;
	min-height: 38px;
	border-color: #999999;
	background-color: transparent;
	color: #A9AAAC;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u913:hover #u914-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 425px;
	margin: 0px -10000px 0px 0px;
}

#u913:hover #u914-4 p,#u913:hover #u914-4 h5
{
	color: #000000;
	visibility: inherit;
}

#u921
{
	z-index: 249;
	width: 425px;
	min-height: 38px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 425px;
	border-width: 1px 0px 1px 1px;
}

#u921:hover
{
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 425px;
	min-height: 38px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u913.TabbedPanelsTabSelected,#u921.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	width: 426px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u922-4
{
	z-index: 250;
	width: 426px;
	min-height: 38px;
	border-color: #999999;
	background-color: transparent;
	color: #A9AAAC;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u921:hover #u922-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#u921.TabbedPanelsTabSelected #u922-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#u921:hover #u922-4 p,#u921:hover #u922-4 h5
{
	color: #000000;
	visibility: inherit;
}

#u917
{
	z-index: 254;
	width: 425px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 850px;
}

#u917:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 425px;
	min-height: 38px;
	margin: 0px -10000px 0px 0px;
}

#u917.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	width: 427px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u919-4
{
	z-index: 255;
	width: 425px;
	min-height: 38px;
	border-color: #999999;
	background-color: transparent;
	color: #A9AAAC;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u917:hover #u919-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 425px;
	margin: 0px -10000px 0px 0px;
}

#u913.TabbedPanelsTabSelected #u914-4,#u917.TabbedPanelsTabSelected #u919-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 425px;
	margin: 0px -10000px 0px 0px;
}

#u917:hover #u919-4 p,#u917:hover #u919-4 h5
{
	color: #000000;
	visibility: inherit;
}

#u913.TabbedPanelsTabSelected #u914-4 p,#u913.TabbedPanelsTabSelected #u914-4 h5,#u921.TabbedPanelsTabSelected #u922-4 p,#u921.TabbedPanelsTabSelected #u922-4 h5,#u917.TabbedPanelsTabSelected #u919-4 p,#u917.TabbedPanelsTabSelected #u919-4 h5
{
	color: #CC0000;
	visibility: inherit;
	text-align: center;
}

#u899
{
	z-index: 259;
	width: 1279px;
	background-color: transparent;
	position: relative;
}

#u900
{
	z-index: 260;
	width: 1277px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CC0000;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u976
{
	z-index: 265;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 109px;
}

#u901-4
{
	z-index: 261;
	width: 628px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 541px;
}

#u904
{
	z-index: 267;
	width: 1277px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CC0000;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u906
{
	z-index: 272;
	width: 395px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 109px;
}

#u906_clip
{
	overflow: hidden;
	width: 395px;
	height: 430px;
}

#u906_img
{
	margin-right: -99px;
}

#u905-4
{
	z-index: 268;
	width: 628px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 541px;
}

#u908
{
	z-index: 274;
	width: 1277px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #CC0000;
	padding-bottom: 2px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u909
{
	z-index: 279;
	width: 416px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 109px;
}

#u909_clip
{
	overflow: hidden;
	width: 416px;
	height: 428px;
}

#u909_img
{
	margin-left: -14px;
	margin-right: -13px;
}

#u911-4
{
	z-index: 275;
	width: 628px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 541px;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.AccordionPanelTab,.TabbedPanelsTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1003-bw
{
	z-index: 2;
	min-height: 857.8769474685878px;
	margin-top: 670px;
}

#u1004
{
	z-index: 3;
	height: 62px;
	background-color: #A9AAAC;
}

#u1004-bw
{
	z-index: 3;
	height: 62px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

